@model RealtyShares.UserNotifications.Models.NotificationWidgetSettingsPart

<fieldset>
    <legend>@T("Notification Widget Settings")</legend>
    
    <ol>
        <li>
            @Html.LabelFor(m => m.NotificationCount, @T("Max Notification Count"))
            @Html.TextBoxFor(m => m.NotificationCount, new { @class = "text small" })
            @Html.Hint(T("Maximum notification count to display on front-end."))
        </li>
    </ol>
</fieldset>